@media screen
  and (min-device-width: 986px)
  {
    .ham-menu
    {
      display:none;
    }
  }


@media screen
  and (max-device-width: 986px)
{
          body
          {
            padding:0px !important;
          }

          header
          {
            position:fixed;
            top:0;
            height:80px;
          }

          .nav-menu
          {
            display:none;
            gap:1rem;
            
          }

          

          .togglebtn
            {
              background-color: black;
              color:white;
              outline:none !important;
            }


          .ham-nav-menu
          {
             gap:3rem;
             height:100%;
             width:100%;
             display: flex;
             flex-flow: column;
             justify-content: center;
             align-items: center;
             overflow: hidden;

            }
          
            .ham-nav-menu>a>button
            {
              background: black;
              color:white;
              border:none !important;
            }

            

            .ham-nav-menu>a>button>h1
            {
              font-size: 4rem !important;
            }


          .ham-menu-inner
          {
            position: absolute;
            color:whitesmoke !important;
            top:90%;
            left:0;
            height:100%;
            width:100%;
            transform:translateY(100vh);
          }
          .ham-menu>button
          { 
            border:none;

            background-color: black;
          }
          .ham-menu>button>i
          {
            font-size: 2.3rem;
          }

          .fa-times
          {
              transform:rotate(-90deg);
              transition: transform 0.8s;
          }

          .fa-bars
          {
            
            transform:rotate(-180deg);
            transition: transform 0.8s;
          }

          


          /* ----------------landing-page---------- */

          .landing-page
          {
            padding:0px;
            margin-top: 18rem;
          }
          
          .hello
          {
            margin-bottom:1rem;
            font-size:28vw !important;
          }


          .landing-title
          {
            margin: auto auto;
            width:92%;
          }
          .landing-buttons
        {
            width:100%;
        }

          /*------------- about page----------- */
          .about{padding:2rem !important;}  
          .about-me
            { 
              margin-top:5rem;
              flex-flow: column-reverse !important;
              gap:2rem;
              justify-content: center;
              align-items: center;
            }
        .about-para
        {
          padding:0px !important;
        }
            .details{width:93%;}
            .about-me>img
            {
              height:30%;
              width:50%;
            }

            .about-flex-div
            { width:100%;
              flex-flow: column !important;
            }

            .about-card-div
            {width:100%;
              margin-top:4rem;
            text-align: center !important;}
              .about-cards-body
              {
                
                padding:1rem !important;
              }
              
            .about-card
            {width:50%;
              /* text-align: left !important; */
            }

            .sub-title
            {color:var(--accent);
              font-size: 1rem !important;
            }

            .progress-div
            {
              width:100%;
            }
            .progress-inner-div
        {
            margin-top:5rem;
        }

        #cta-div>p
        {
            font-size: 1rem;
            
        }

        #cta-div>h1>a
        {
            font-size: 2rem;
        }

            /*--------------- portfolio-page----------- */
            .project-card{height:auto !important;}
            .project-card-body
          {
            display:flex;
            flex-flow:column-reverse;
            }
            
            .project-details
            {
              width:100%;
            }

              /*--------------- contact-page---------- */

              .query-section
              {
                margin-top: 5rem;
              }
              .contact-inner-div
        {
            margin:auto auto;
            
            width:100%;
        }

}
 



 
/* For Mobile Phones Portrait or Landscape View */
@media screen
  and (max-device-width: 986px)
{}

 
/* For iPhone 4 Portrait or Landscape View */
@media screen
  and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2){
   
}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px)
  and (device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2)
{
    
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px)
  and (min-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 3)
{

}










